
<div class="container" style="min-height: 760px;">



	<div class="row">

		<!-- start: PAGE TITLE & BREADCRUMB -->
		<!-- <ol class="breadcrumb">
			<li><i class="clip-home-3"></i> <a href="/FARMMGR"> Home </a></li>
			<li class="active">Add User</li>
			<li class="search-box">
				<form class="sidebar-search">
					<div class="form-group">
						<input type="text" placeholder="Start Searching..." />
						<button class="submit">
							<i class="clip-search-3"></i>
						</button>
					</div>
				</form>
			</li>
		</ol>
		<div class="page-header">
			<h1>
				Dashboard <small>EDIT USER </small>
			</h1>
		</div> -->
		<!-- end: PAGE TITLE & BREADCRUMB -->


	</div>

	<div class="row">
		<div class="col-sm-12">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i> Change password
					<!-- <div class="panel-tools">
						<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
						</a> <a class="btn btn-xs btn-link panel-config" href="#panel-config"
							data-toggle="modal"> <i class="fa fa-wrench"></i>
						</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
							class="fa fa-refresh"></i>
						</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
							class="fa fa-resize-full"></i>
						</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
							class="fa fa-times"></i>
						</a>
					</div> -->
				</div>
				<div class="panel-body">

					<form role="form" class="form-horizontal" method="POST" 
					th:action="@{/updatepassword}" th:object="${userForm}">
						<table>
						<tr>
						<td><label class="col-sm-2 control-label">Old Password</label></td>
						<td><input type="password" placeholder=""
									id="form-field-11" style="width:200px;" th:field="*{password}" required="required"
									class="form-control" /></td>
						</tr>
						<tr>
						<td><label class="col-sm-2 control-label">New Password</label></td>
						<td><input type="password" placeholder="" style="width:200px;" id="form-field-11"
									th:field="*{password1}" required="required"
									class="form-control" /></td>
						</tr>
						<tr>
						<td><label class="col-sm-2 control-label">Confirm New Password</label></td>
						<td><input type="password" style="width:200px;" required="required"
								 id="form-field-11"
									th:field="*{password2}" class="form-control" /></td>
						</tr>
						</table>		
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Old Password</label>
							<div class="col-sm-4">
								<input type="password" placeholder=""
									id="form-field-11" style="width:200px;" th:field="*{password}" required="required"
									class="form-control" />
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">New Password</label>
							<div class="col-sm-4">
								<input type="password" placeholder="" style="width:200px;" id="form-field-11"
									th:field="*{password1}" required="required"
									class="form-control" />
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Confirm New Password</label>
							<div class="col-sm-4">
								<input type="password" style="width:200px;" required="required"
								 id="form-field-11"
									th:field="*{password2}" class="form-control" />
							</div>

						</div> -->
						
						
						

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-primary" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i> Submit
								</button>



								<!-- <button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button> -->
							</div>
						</div>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>
