
<div class="container" style="min-height: 760px;">

	<div class="row">
		<div class="col-sm-12">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i> 
					<div class="panel-tools">
					</div>
				</div>
				<div class="panel-body">

					<form role="form" class="form-horizontal" method="POST" 
					th:action="@{/sendpassword}"	th:object="${userForm}">
						
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-4">
								<input type="text" style="width:300px;" placeholder="Username" id="form-field-11"
									th:field="*{userName}" class="form-control" />
							</div>

						</div>
						
						

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-primary" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i> Recover
								</button>



								<!-- <button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button> -->
							</div>
						</div>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>
