<div class="container" style="min-height: 760px;">



	<div class="row">

		<!-- start: PAGE TITLE & BREADCRUMB -->
		<ol class="breadcrumb">
			<li><i class="clip-home-3"></i> <a th:href="@{/index}"> Home </a></li>
			<li class="active">Set Email</li>
			<li class="search-box">
				<form class="sidebar-search">
					<div class="form-group">
						<input type="text" placeholder="Start Searching..." />
						<button class="submit">
							<i class="clip-search-3"></i>
						</button>
					</div>
				</form>
			</li>
		</ol>
		<div class="page-header">
			<!-- <h1>
				Dashboard <small>overview &amp; stats </small>
			</h1> -->
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->


	</div>

	<div class="row">
		<div class="col-sm-12">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					<div class="panel-tools">
						<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
						</a> <a class="btn btn-xs btn-link panel-config" href="#panel-config"
							data-toggle="modal"> <i class="fa fa-wrench"></i>
						</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
							class="fa fa-refresh"></i>
						</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
							class="fa fa-resize-full"></i>
						</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
							class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
				
				<!--  <div>		
									<a th:href="@{/listemaillog}"
									class="label label-sm label-success">View Logs</a>
								</div> 
								<div>&nbsp;</div> -->
				
					<table
						class="table table-striped table-bordered table-hover table-full-width"
						id="sample_1">
						<thead>
							<tr>
								<th>Email Id</th>
								<th>Email Address</th>
								<th>Name</th>
								<th>Modified By</th>
								<th>Last Modified on</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="s : ${setEmail}">
								<td th:text="${s.emailId}"></td>
								<td th:text="${s.emailAddress}"></td>
								<td th:text="${s.name}"></td>
								<td th:text="${s.modifiedBy}"></td>
								<td th:text="${s.lastModifiedDate}"></td>
									<td><a th:href="@{/showEdit/{id}(id=${s.emailId}) }"
									class="btn btn-xs btn-teal tooltips" data-placement="top"
									data-original-title="Edit"> <i class="fa fa-edit"></i>
								</a></td>
								
								<!-- <td><a class="btn btn-xs btn-primary tooltips"
												title="view customer details"
												th:href="@{/view/{id}(id=${customer.id}) }">
													<i class="fa fa-eye"></i>
											</a></td> -->
											
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
