<div class="container" style="min-height: 760px;">



	<div class="row">

		<!-- start: PAGE TITLE & BREADCRUMB -->
		<ol class="breadcrumb">
			<li><i class="clip-home-3"></i> <a th:href="@{/index}"> Home </a></li>
			<li class="active">News Recipients</li>
			<li class="search-box">
				<form class="sidebar-search">
					<div class="form-group">
						<input type="text" placeholder="Start Searching..." />
						<button class="submit">
							<i class="clip-search-3"></i>
						</button>
					</div>
				</form>
			</li>
		</ol>
		<div class="page-header">
			<!-- <h1>
				Dashboard <small>overview &amp; stats </small>
			</h1> -->
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->


	</div>

	<div class="row">
		<div class="col-sm-12">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					<div class="panel-tools">
						<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
						</a> <a class="btn btn-xs btn-link panel-config" href="#panel-config"
							data-toggle="modal"> <i class="fa fa-wrench"></i>
						</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
							class="fa fa-refresh"></i>
						</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
							class="fa fa-resize-full"></i>
						</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
							class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
					<table
						class="table table-striped table-bordered table-hover table-full-width"
						id="sample_1">
						<thead>
							<tr>
								<th>Id</th>
								<th>News ID</th>
								<th>User ID</th>
								<th>Client ID</th>
								<th>Date Created</th>
								<!-- <th>status</th> -->
								<!-- <th><span class="glyphicon glyphicon-asterisk"></span></th>
								<th><span class="glyphicon glyphicon-asterisk"></span></th>
								<th><span class="glyphicon glyphicon-asterisk"></span></th> -->
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="o : ${owner}">
								<td th:text="${o.Id}"></td>
								<td th:text="${o.news.Id}"></td>
								<td th:text="${o.userId}"></td>
								<td th:text="${o.clientId}"></td>
								<td th:text="${o.dateCreated}"></td>
								<!-- <td th:text="${o.status}"></td> -->
									<!-- <td><a th:href="@{/editnews/{newsId}(newsId=${s.Id}) }"
									class="btn btn-xs btn-teal tooltips" data-placement="top"
									data-original-title="Edit"> <i class="fa fa-edit"></i>
								</a></td>
									<td><a th:href="@{/addaccount/{custId}(custId=${s.Id})}"
									class="btn btn-xs btn-success tooltips" data-placement="top"
									data-original-title="Add Account"> <i class="fa fa-plus"></i>
								</a></td>
								<td><a class="btn btn-primary btn-xs" 
								th:href="@{/detail/{id}(id=${s.Id}) }"
									 data-placement="top"
									data-original-title="Manage"> <i class="fa fa-eye"></i>
								</a></td> -->
								
								
											
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
