<div class="container" style="min-height: 760px;">



	<div class="row">

		<!-- start: PAGE TITLE & BREADCRUMB -->
		<ol class="breadcrumb">
			<li><i class="clip-home-3"></i> <a th:href="@{/index}"> Home
			</a></li>
			<li class="active">General News  </li>
			<li class="search-box">
				<form class="sidebar-search">
					<div class="form-group">
						<input type="text" placeholder="Start Searching..." />
						<button class="submit">
							<i class="clip-search-3"></i>
						</button>
					</div>
				</form>
			</li>
		</ol>
		<div class="page-header">
			<!-- <h1>
				Dashboard <small>ADD CUSTOMER </small>
			</h1> -->
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->


	</div>

	<div class="row">
		<div class="col-sm-12">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					<!-- Add Customer -->
					<div class="panel-tools">
						<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
						</a> <a class="btn btn-xs btn-link panel-config" href="#panel-config"
							data-toggle="modal"> <i class="fa fa-wrench"></i>
						</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
							class="fa fa-refresh"></i>
						</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
							class="fa fa-resize-full"></i>
						</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
							class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="panel-body">
				<b><span style = "color:green;" th:text="${successMsg}"></span></b>
				<div class="alert alert-block alert-info fade in">
										<button data-dismiss="alert" class="close" type="button">
											&times;
										</button>
										<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Info!</h4>
										<p>
											Use [fname] to represent first name
										</p>
										<p>
											[Lname] for last name
										</p>
										
										<p>
											[worth] for net worth
										</p>
										
										<p>
											Example - Hello [fname] [Lname], your current net worth is [worth].
										</p>
									</div>
					<form role="form" class="form-horizontal" method="POST"
						 th:action="@{/savenetworthnews}" th:object="${newsForm}">
						 
						 
						 <div class="form-group">
							<label class="col-sm-2 control-label">Net worth From </label>
							<div class="col-sm-4">
							<input type="text" placeholder="" id="form-field-11"
									th:field="*{value1}" class="form-control" />
								
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Net worth to </label>
							<div class="col-sm-4">
							<input type="text" placeholder="" id="form-field-11"
									th:field="*{value2}" class="form-control" />
								
							</div>

						</div>
							
							
						<div class="form-group">
							<label class="col-sm-2 control-label">Subject</label>
							<div class="col-sm-4">
								<input type="text" placeholder="" id="form-field-11"
									th:field="*{subject}" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Message</label>
							<div class="col-sm-7">
								<textarea rows="16" cols="50" placeholder="" name="editor2"
									id="editor2" th:field="*{body}">Enter text here...
								</textarea>
							</div>
						</div>


						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input value="Send" id="submit_btn" class="btn btn-primary"
									type="submit" /> <span id="wait_tip" style="display: none;"><img
									th:src="@{/resources/images/ajax-loader.gif}" id="loading_img" />
									Please wait...</span>
							</div>
						</div>
						<!--  <div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-primary" id="submit_btn" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i> SEND
								</button><span id="wait_tip" style="display:none;"><img th:src="@{/resources/images/ajax-loader.gif}"
           id="loading_img"/> Please wait...</span>
							</div>
						</div> -->
					</form>

					<script>
						CKEDITOR.replace('editor2');
					</script>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
$.getScript('//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.1/summernote.min.js',function(){
  $('#summernote').summernote();
});
</script> -->

<script type="text/javascript">
	/* $.getScript('//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.1/summernote.min.js',function(){
	 $('#summernote').summernote();
	 }); */
	/* function createNote() {
	 alert( 'page created' );        
	 // use ajax to store new page, and update the UI accordingly
	 showEditNotePopup(); 
	 }
	 */

	function getId(id) {
		return document.getElementById(id);
	}
	function validation() {
		getId("submit_btn").style.display = "none";
		getId("wait_tip").style.display = "";
		//alert('Message sent');
		return true;

	}
	function validateForm(form) {
		var validation = true;
		validation = createNote(form);
		validation = validation(form);
		return validation;
	}

	window.addEventListener('load', function() {
		/// you could improve the way you target your form, this is just a quick eg.
		var form;
		form = document.getElementsByTagName('form')[0];
		form.addEventListener('submit', validation);
		form.addEventListener('submit', createNote);
	});

	$("#FilUploader").change(
			function() {
				var fileExtension = [ 'jpeg', 'jpg', 'png', 'gif', 'bmp',
						'pdf', 'doc', 'docx', 'xls' ];
				if ($.inArray($(this).val().split('.').pop().toLowerCase(),
						fileExtension) == -1) {
					alert("Only formats are allowed : "
							+ fileExtension.join(', '));
					$("#FilUploader").val("");
				}
			});
	$("#which-cat").change(
			function() {
				var fileExtension = [ 'csv' ];
				if ($.inArray($(this).val().split('.').pop().toLowerCase(),
						fileExtension) == -1) {
					alert("Only formats are allowed : "
							+ fileExtension.join(', '));
					$("#which-cat").val("");
				}
			});
	$(function() {
		$("#FilUploader,#which-cat").change(function() {

			//because this is single file upload I use only first index
			var f = this.files[0]

			//here I CHECK if the FILE SIZE is bigger than 8 MB (numbers below are in bytes)
			if (f.size > 10485760 || f.fileSize > 10485760) {
				//show an alert to the user
				alert("Allowed file size exceeded. (Max. 10 MB)")

				//reset file upload control
				this.value = null;
			}
		})
	});
</script>
